.bg-container {
  background-color: #93c5fd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
  border-radius: 10px;
  margin: 10px;
  flex-grow: inherit;
}
.heading {
  font-size: 28px;
  font-family: 'Roboto';
  color: #1e293b;
}
.question {
  font-size: 15px;
  font-family: 'Roboto';
  color: #000000;
}
.capital-select {
  height: 50px;
  width: 100px;
}
.option {
  font-size: 15px;
  font-family: 'Roboto';
  color: #000000;
}
.question-container {
  display: flex;
  flex-direction: row;
}
.paragraph {
  color: #1e293b;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 900;
}
